<div class="row">
  <div class="col-xs-12">

    <%= form_for(object, :remote => true, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
          <%= f.text_area :comment, class: 'form-control clearfix', rows: 10, placeholder: "Commentaire" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.hidden_field :article_id %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <%= f.submit class: 'btn btn-primary'%>
            <%= link_to "Annuler", articles_path, class: 'btn btn-default' %>
        </div>
      </div>

      <% end %>

  </div>
</div>