<section class="jumbotron text-center">
  <h1>Ecrivez un commentaire pour ''!</h1>
  <h3>Valider votre commentaire</h3>
</section>

<section class="container-fluid">

  <%= render 'form', object: @comment %>

</section>