<%= render 'shared/errors', obj: @article %>


  <div class="row">
    <div class="col-xs-12">

      <%= form_for(@article, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :title %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :title, class: 'form-control clearfix', placeholder: "Titre Article", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :image %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :image, class: 'form-control clearfix', placeholder: "Image Article", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-10">
            <%= f.text_area :description, class: 'form-control clearfix', rows: 10, placeholder: "Contenu Article" %>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                <% cb.label(class: 'checkbox-inline input_checkbox') {cb.check_box(class: 'checkbox') + cb.text} %>
                  <% end %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary'%>
              <%= link_to "Annuler", articles_path, class: 'btn btn-default' %>

                <% if show_delete %>
                  <%= link_to "Supprimer", article_path(@article), method: :delete, data: {confirm: "Etes vous sur ?"}, class: 'btn btn-danger' %>
                    <% end %>


          </div>
        </div>

        <% end %>

    </div>
  </div>