<section class="jumbotron text-center">
  <h1>Editer un article</h1>
  <h3>Vous éditez un article</h3>
</section>

<section class="container-fluid">

  <%= render 'form', show_delete: true %>

</section>