<section class="jumbotron text-center">
  <%= render 'cookies_eu/consent_banner' %>
    <h1>Liste des Articles</h1>
    <br />
    <% if logged_in? %>
      <h3>
        <%= link_to 'Ecrire un nouvel article', new_article_path, class: 'btn btn-lg btn-success' %>
      </h3>
      <% end %>
</section>

<section class="container-fluid">

  <div class="col-sm-6 col-sm-offset-3 text-center">
  </div>
  <%= form_tag(articles_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Recherche', name: nil %>

        <% end %>
          <br />
          <%= render 'shared/article', obj: @all_articles %>

            <div class="col-sm-6 col-sm-offset-3 text-center">
            </div>

</section>