<section class="jumbotron text-center">
  <img src="<%= @article.image %>">
  <h1>
    <%= @article.title %>
  </h1>
  <% if @article.categories.any? %>
    <br />
    <br />
    <p>
      <%= render @article.categories %>
    </p>
    <% end %>
</section>

<section class="container-fluid">

  <% user = @article.user %>
    <% if user%>
      <div class="row user-info">
        <%= link_to gravatar_for(user, size: 110, classes: 'img-circle'), user_path(user), style: 'float: left; margin-right: 1em;' %>
          <h2 class="no-margin" style="margin-bottom: 0.35em">
            <%= link_to user.username, user_path(user) %>
          </h2>
          <small>
            <i>
              <%= truncate(user.bio, :length => 350) %>
            </i>
          </small>
      </div>
      <% end %>

        <div class="row">
          <p>
            <%= simple_format(@article.description) %>
          </p>

          <div class="container comment-container">
            <h2>Commentaires</h2>
            <hr />
            <% if logged_in? %>
              <% @comment.article = @article %>
                <%= render 'comments/form', object: @comment %>
                  <% end %>
                    <%= render 'comments/comment', obj: @article.comments %>
          </div>

          <br />
          <br />
          <p class="text-center">
            <%= link_to '< Voir tout', articles_path, class: 'btn btn-default' %>
              <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                <%= link_to 'Editer Article', edit_article_path(@article), class: 'btn btn-primary' %>
                  <%= link_to 'Supprimer Article', article_path(@article), method: :delete, data: {confirm: "Etes vous sur ?"}, class: 'btn btn-danger' %>
                    <% end %>
          </p>
        </div>

</section>