<%= render 'shared/errors', obj: @user %>

  <div class="row">
    <div class="col-xs-12">

      <%= form_for(@user, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

        <div class="form-group">
          <div class="control-label col-sm-2 col-sm-offset-1">
            <%= f.label :username %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :username, class: 'form-control clearfix', placeholder: "Username", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2 col-sm-offset-1">
            <%= f.label :email %>
          </div>
          <div class="col-sm-6">
            <%= f.email_field :email, class: 'form-control clearfix', placeholder: "Email" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2  col-sm-offset-1">
            <%= f.label :password %>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password, class: 'form-control clearfix', placeholder: 'Password' %>
          </div>
        </div>
        <% if !@user.new_record? %>
          <div class="form-group">
            <div class="control-label col-sm-offset-2 col-sm-1">
              <%= f.label :bio %>
            </div>
            <div class="col-sm-6">
              <%= f.text_area :bio, rows: 5, class: 'form-control clearfix', placeholder: 'Bio' %>
            </div>
          </div>
          <% end %>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10 ">
                <%= f.submit(@user.new_record? ? "Inscription" : "Update Compte", class: 'btn btn-primary') %>
                  <%= link_to "Annuler", articles_path, class: 'btn btn-default' %>
              </div>
            </div>

            <% end %>

    </div>
  </div>