<section class="jumbotron text-center">
  <h1>Editer votre compte!</h1>
  <h3>Vous pouvez régler vos informations ici</h3>
</section>

<section class="container-fluid">

  <%= render 'form'%>

</section>