<section class="jumbotron text-center">
  <h1>Liste des utilisateurs</h1>
  <br />
  <h3>
    <%= link_to 'Créer un nouvel utilisateur', signup_path, class: 'btn btn-lg btn-success' %>
  </h3>
</section>

<section class="container-fluid">

  <div class="col-sm-6 col-sm-offset-3 text-center">
  </div>

  <% @users.each do |user| %>

    <article class="container article col-md-8 col-md-offset-2 text-center">
      <div class="row">
        <div class="col-md-12 article-title text-center">
          <h2>
            <%= link_to user.username, user_path(user) %>
          </h2>
          <p>
            <%= pluralize(user.articles.count, "articles") %>
          </p>
          <% if logged_in? && current_user.admin? %>
            <%= link_to 'Delete User', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger'%>
              <% end %>
        </div>
      </div>
    </article>

    <% end %>

      <div class="col-sm-6 col-sm-offset-3 text-center">
      </div>

</section>