<section class="jumbotron text-center">
  <h1>Inscrivez vous dès maintenant !</h1>
  <h3>Créer un compte et partagez vos idées</h3>
</section>

<section class="container-fluid">

  <%= render 'form'%>
</section>