<section class="jumbotron text-center">
  <%= gravatar_for @user, size: 100, classes: 'img-circle' %>
    <h1>
      <%= @user.username %>
    </h1>
    <br />
    <br />
    <% if logged_in? && (@user == current_user || current_user.admin?) %>
      <p>
        <%= link_to 'Editer Compte', edit_user_path(@user), class: 'btn btn-primary' %> |
          <%= link_to 'Supprimer Compte', user_path(@user), method: :delete, data: {confirm: "Etes vous sur?"}, class: 'btn btn-danger' %>
      </p>
      <br />
      <% end %>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p id="bio">
        <%= @user.bio %>
      </p>
    </div>
  </div>

  <h2 class="col-sm-10 col-sm-offset-1 text-center" id="user-article-heading">Articles</h2>

  <%= render 'shared/article', obj: @user_articles %>

    <div class="row col-md-8 col-md-offset-2 text-center" style="margin-top: 3em;">
      <p>
        <%= link_to 'Ecrire un article', new_article_path, class: 'btn btn-success btn-lg' %>
      </p>
    </div>

    <div class="col-sm-6 col-sm-offset-3 text-center">
    </div>

</section>