<% if @articles.each do |article| %>
  <article class="container article col-md-8 col-md-offset-2 text-center">
    <img src="<%= article.image %>">
    <h2>
      <%= link_to article.title, article_path(article) %>
    </h2>
    <small>
      <i>
        <%= article.created_at.strftime("%B %d, %Y") %>
      </i>
      <br />
      <b>
        <%= link_to(article.user.username, user_path(article.user)) if article.user %>
      </b>
    </small>
    <br />
    <br />
    <p>
      <%= simple_format(truncate(article.description, length: 500)) %>
    </p>
    <br />
    <% if article.categories.any? %>
      <p>
        <%= render article.categories %>
      </p>
      <br />
      <% end %>
        <% if logged_in? && (article.user == current_user || current_user.admin?)  %>
          <p>
            <%= link_to 'Editer', edit_article_path(article), class: 'btn btn-default' %>
              <%= link_to 'Annuler', article_path(article), method: :delete, data: {confirm: "Etes vous sur ?"}, class: 'btn btn-danger' %>
          </p>
          <% end %>
  </article>
  <% end.empty? %>

    <div class="text-center">Aucun contenu !</div>
    <% end %>