<% if obj.errors.any? %>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-transform: uppercase">
        <b>Your article has the following errors:</b>
      </h3>
      <div class="panel-body">
        <ul>
          <% obj.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% end %>