<section class="jumbotron text-center">
  <h1>A propos de nous</h1>
  <h3>Etudiants à l'EEMI</h3>
</section>

<section class="container-fluid">

  <section>
    <div class="row col-md-12">
      <div class="col-md-6">
        <h3>Nos actualités !</h3>
        <p>Venez découvrir nos meilleures sélections.</p>
        <%= image_tag('eemi.png', class: 'img-responsive') %>
      </div>
      <div class="col-md-6">
        <h3>Vous trouverez ici toutes les informations nécessaires !</h3>
        <p>Chaque semaine, Laurent et Quentin vous proposent les meilleures sélections d'articles</p>
        <p>Vous retrouverez ici les actualités concernant la Tech, l'Esport, la Cryptomonnaie et bien plus encore !</p>
        <%= image_tag('team.jpeg', class: 'img-responsive') %>
      </div>
    </div>
  </section>

</section>