<section class="jumbotron text-center" id="home-jumbo">
  <h1>EEMI Blog</h1>
  <h3>La meilleure expérience de blogging proposée Laurent & Quentin !</h3>
  <br />
  <br />
  <%= link_to "Inscription", signup_path, class: 'btn btn-lg btn-success' %>
</section>

<section class="container-fluid">
  <section class="row">
    <div class="col-md-8">
      <p>L’EEMI (Ecole Européenne des Métiers de l’Internet) fait revivre le site historique de La Cantine, l’un des tout premiers
        espaces de coworking à Paris. Dans sa version revisité, le lieu accueille un espace de coworking, des salles de formation,
        des startups en résidence, des événements et une communauté d’experts autour de la VR/VA.</p>
      <%= image_tag('pano.jpg', class: 'img-responsive') %>
    </div>
    <div class="col-md-4">
      <h2 class="subheader">Nos derniers Articles</h2>
      <% @articles = Article.all %>

        <ul class="no-bullets">
          <% @articles.each do |article| %>

            <li class="article-list-item">
              <span class="bigger">
                <%= link_to article.title, article_path(article) %>
              </span>
              <span class="right">
                <small>
                  <%= article.created_at.strftime("%B %d, %Y") %>
                </small>
              </span>
            </li>

            <% end %>
        </ul>
    </div>
  </section>

</section>