<%= render 'shared/errors', obj: @category %>

  <div class="row">
    <div class="col-xs-12">

      <%= form_for(@category, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

        <div class="form-group">
          <div class="control-label col-sm-2 col-sm-offset-1">
            <%= f.label :name %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control clearfix', placeholder: "Nouvelle catégorie", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2 col-sm-offset-1">
            <%= f.label :description %>
          </div>
          <div class="col-sm-6">
            <%= f.text_area :description, class: 'form-control clearfix', placeholder: "Description", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            <%= f.submit class: 'btn btn-primary'%>
              <%= link_to "Annuler", articles_path, class: 'btn btn-default' %>
                <% if show_delete %>
                  <%= link_to "Supprimer", category_path(@category), method: :delete, data: {confirm: "Etes vous sur ?"}, class: 'btn btn-danger' %>
                    <% end %>
          </div>
        </div>

        <% end %>

    </div>
  </div>