<section class="jumbotron text-center">
  <h1>Editer la Categorie:
    <i>
      <%= @category.name %>
    </i>
  </h1>
</section>

<section class="container-fluid">

  <%= render 'form', show_delete: true %>

</section>