<section class="jumbotron text-center">
  <h1>Catégories</h1>
  <% if logged_in? %>
    <h3>
      <%= link_to 'Créer une nouvelle categorie', new_category_path, class: 'btn btn-lg btn-success' %>
    </h3>
    <% end %>
</section>

<section class="container-fluid">


  <% @categories.each do |category| %>

    <article class="container article col-md-8 col-md-offset-2 text-center">
      <h2>
        <%= link_to category.name, category_path(category) %>
      </h2>
      <br />
      <smal>
        <%= pluralize(category.articles.count, "article") %>
      </smal>
    </article>

    <% end %>



</section>