<section class="jumbotron text-center">
  <h1>Créez une catégorie!</h1>
  <h3>Choisissez une catégorie pour vos prochains articles</h3>
</section>

<section class="container-fluid">

  <%= render 'form', show_delete: false %>

</section>