<section class="jumbotron text-center">
  <h1>Tous les articles dans
    <%= @category.name %>
  </h1>
  <br />
  <% if logged_in? && current_user.admin? %>
    <%= link_to 'Editer Categorie', edit_category_path(@category), class: 'btn btn-primary' %>
      <%= link_to 'Supprimer Categorie', category_path(@category), method: :delete, data: {confirm: "Etes vous sur ?"}, class: 'btn btn-danger' %>
        <% end %>

</section>

<section class="container-fluid">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p id="bio">
        <%= @category.description %>
      </p>
    </div>
  </div>

  <h2 class="col-sm-10 col-sm-offset-1 text-center" id="user-article-heading">Articles</h2>

  <%= render 'shared/article', obj: @category_articles %>
    <div class="row col-md-12" style="margin-bottom: 3em;">
      <p class="text-center">
        <%= link_to '< Toutes les catégories', categories_path, class: 'btn btn-default' %>
      </p>
    </div>

</section>