<!DOCTYPE html>
<html>

<head>
  <title>EEMI Blog</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/navigation_bar' %>
    <%= render 'layouts/flash' %>

      <%= yield %>

        <!-- <%=  debug(params) if Rails.env.development? %> -->
        <script type="text/javascript">
          $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
          });
        </script>
</body>

</html>